<section id="skills">
  <h2>Skills</h2>

  <div id="skills-container" class="skill-container-class">
    <div class="logo">
      <img src="/assets/skills/html-logo.png" alt="HTML logo" />
    </div>
    <div class="logo">
      <img src="/assets/skills/css-logo.png" alt="CSS logo" />
    </div>
    <div class="logo">
      <img src="/assets/skills/javascript-logo.webp" alt="javaScript logo" />
    </div>
    <div class="logo">
      <img src="/assets/skills/typeScript-logo.png" alt="TypeScript logo" />
    </div>
    <div class="logo">
      <img src="/assets/skills/node.png" alt="Node logo" />
    </div>
    <div class="logo">
      <img src="/assets/skills/rest-api.png" alt="rest-api" />
    </div>
    <div class="logo">
      <img src="/assets/skills/express.png" alt="node-express" />
    </div>
    <div class="logo">
      <img src="/assets/skills/mongodb-logo.png" alt="mongodb" />
    </div>
    <div class="logo">
      <img src="/assets/skills/sqlite.png" alt="sqlite" />
    </div>
    <div class="logo">
      <img src="/assets/skills/OOP.png" alt="Object Oriented Programing" />
    </div>
    <div class="logo">
      <img src="/assets/skills/git.png" alt="Git logo" />
    </div>
    <div class="logo">
      <img src="/assets/skills/octocat.png" alt="GitHub logo" />
    </div>
  </div>
</section>
