<section id="contact-me">
  <h2>Contact me</h2>
  <form
    class="contact-form"
    action="https://formsubmit.co/6c917af94c93c5226a714654bd1dc78e "
    method="POST"
  >
    <div class="form-group">
      <label for="name">Name</label>
      <input
        class="form-control"
        id="name"
        name="name"
        type="text"
        required=""
        spellcheck="false"
        data-ms-editor="true"
      />
    </div>
    <div>
      <input name="_subject" type="hidden" value="New Email from portfolio" />
    </div>
    <div><input name="_captcha" type="hidden" value="false" /></div>
    <br />
    <div class="form-group">
      <label for="email">Email</label>
      <input
        class="form-control"
        id="email"
        name="email"
        type="email"
        required=""
      />
    </div>
    <br />
    <div class="form-group">
      <label for="company">Company</label>
      <input
        class="form-control"
        id="company"
        name="company"
        type="text"
        spellcheck="false"
        data-ms-editor="true"
      />
    </div>
    <br />
    <div class="form-group">
      <label for="message">Message</label>
      <textarea
        class="form-control"
        id="message"
        spellcheck="false"
        data-ms-editor="true"
        rows="6"
      ></textarea>
    </div>
    <br />
    <input
      class="btn btn-primary input-btn"
      type="submit"
      value="send"
      type="submit"
    />
  </form>
</section>
