<div id="about-me">
  <h2>About me</h2>
  <img src="/assets/profile-picture.jpeg" alt="Rafael sitting at the table" />
  <div class="paragraph">
    <p>
      I am a Civil Engineer turned web developer. After years of working as
      Engineer and also a part of my life as a salesman. My life took a big
      change and now I’m here in Belgium, and as part of that big change I
      decided to change my professional life and that's why I signed up for Hack
      Your Future Belgium. So, from being curious about coding, I'm now
      passionate about it.
    </p>
    <p>
      I finished my developer training at Hack Your Future Belgium in November
      2021.
    </p>
    <p>
      I am very passionate and enthusiastic about creating constructive and
      efficient solutions. I love learn new things, I believe that having an
      open mind can help you remain creative and grasp ideas from any subject to
      implement it in your field!
    </p>
  </div>
</div>
