<div id="about-me">
  <h2>About me</h2>
  <img src="/assets/profile-picture.jpeg" alt="Rafael sitting at the table" />
  <div class="paragraph">
    <p>
      I am a Civil Engineer turned web developer. After years of working as an
      Engineer and a period as a salesman, my life underwent a significant
      transformation. Now, I’m here in Belgium, and as part of that change, I
      decided to shift my professional path by enrolling in Hack Your Future
      Belgium. What started as a curiosity about coding has grown into a deep
      passion.
    </p>
    <p>
      Currently, I am working as a web developer at Fedasil, the Belgian federal
      agency responsible for asylum seekers. In my role, I utilize modern
      technologies such as GraphQL, Hasura, Keycloak, Docker, and Jira to create
      efficient and constructive solutions. I am passionate about learning new
      things and believe that an open mind fosters creativity and the ability to
      draw inspiration from various fields to implement in my work.
    </p>
  </div>
</div>
