<section id="showcase">
  <div class="social">
    <a class="github" target="_blank" href="https://github.com/rago89"
      ><img src="/assets/contact/github-icon.webp" alt="github" /></a
    ><a
      class="twitter"
      target="_blank"
      href="https://twitter.com/RafaelG91657429"
      ><img src="/assets/contact/twitter-icon.png" alt="twitter" /></a
    ><a
      class="facebook"
      target="_blank"
      href="https://www.facebook.com/rafael.ortega.733/"
      ><img src="/assets/contact/facebook-icon.png" alt="facebook" /></a
    ><a
      class="instagram"
      target="_blank"
      href="https://www.instagram.com/rago89_9/?hl=es"
      ><img src="/assets/contact/instagram-icon.png" alt="instagram"
    /></a>
    <a
      class="linkedin"
      target="_blank"
      href="https://www.linkedin.com/in/rafael-andres-garcia-ortega-1264816b"
      ><img src="/assets/contact/linkedIn.png" alt="linkedIn"
    /></a>
  </div>
  <div class="showcase-content">
    <h2>Hi I’m Rafael</h2>
    <h3>Web Developer</h3>
    <p>I build websites using JS, Nodejs and Angular</p>
  </div>
  <img
    class="showcase-img"
    src="/assets/technology-png-transparent.png"
    alt="Technology image with tablets, notebooks and mobiles"
  />
</section>
