/* You can add global styles to this file, and also import other style files */

html,
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-image: radial-gradient(rgb(255, 255, 255) 30%, rgb(192, 250, 238));
  color: rgb(17, 70, 56);
}

/* include border and padding in element width and height */
* {
  box-sizing: border-box;
}

/*animations */
@keyframes horizontalImageTransitionFromRight {
  from {
    transform: translateX(1200px);
  }
  to {
    transform: translateX(0px);
  }
}

@keyframes horizontalImageTransitionFromLeft {
  from {
    transform: translateX(-1200px);
  }
  to {
    transform: translateX(0px);
  }
}

@keyframes horizontalImageTransitionFromRight540 {
  from {
    transform: translateX(700px);
  }
  to {
    transform: translateX(0px);
  }
}

@keyframes horizontalImageTransitionFromLeft540 {
  from {
    transform: translateX(-700px);
  }
  to {
    transform: translateX(0px);
  }
}

@keyframes ZTransition {
  from {
    transform: perspective(500px) translateZ(-400px);
  }
  to {
    transform: translateY(0px);
  }
}

@keyframes headerTransition {
  from {
    transform: translateY(-100px);
  }
  to {
    transform: translateY(0px);
  }
}
